# Python
myenv/
__pycache__/
*.pyc
db.sqlite3

# Django
media/
staticfiles/

# React
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.venv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Files 
Fnd.md
NewTextDocument.txt
Problems.txt
prompt-for-ai.txt
Tasks.md
Theme.md
voice.md
commands.txt
README.md
runprogram.txt
requirements_voice_additions.txt


