.ErrorCard{
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Errorimg{
  margin: 40px 0 0 0x;
  align-items: center;
}

.LinkBack a{
  text-decoration: underline;
  color:#16273F;
}

.LinkBack h3{
  text-align: center;
  white-space: nowrap;
  color: #16273F;
}
